@font-face {
  font-family: Epilogue-Bold;
  src: url(../fonts/Epilogue-Bold.ttf);
}

@font-face {
  font-family: Epilogue-Regular;
  src: url(../fonts/Epilogue-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
