$color_primary: #4cae50;
$color_title: #111563;
$color_extra: #286DBD;
$text_paragraph: #63718E;
$text_input: #3A3A3A;
$bg_body: #F9FAFC;

$shadow_success: 0px 5px 10px rgba(76, 174, 80, 0.3);
$shadow_primary: 0px 2px 16px rgba(32, 108, 164, 0.16);
$shadow_primary_hover: 4px 6px 10px rgba(0, 0, 0, 0.05);

$radius_action: 10px;

$media_laptop: (max-width: 768px)
